<div class="max-w-lg mx-auto mt-16 text-center">
  <h2 class="mb-4 text-3xl font-black">Welcome to railsdevs</h2>
  <p class="text-lg leading-snug">Use this starting point as a way to quickly find a Ruby on Rails job.</p>
</div>
